-#===========navbar=============

%nav.navbar.navbar-expand-lg{style: "background-color: #e3f2fd;"}
	.container{class: " container-md"}
		%a.navbar-brand{href: "/feed"}
			-#%img{alt: "", height: "100", src: "https://i.pinimg.com/originals/36/a8/90/36a890fe62412fda67f877e6506fde9f.png", width: "100"} μTwiiter
			-#%img{alt: "", height: "100", src: "https://chula-my.sharepoint.com/personal/6230524921_student_chula_ac_th/Documents/Finished/Prog%20meth/Project/AJ_toe.png", width: "100"} μTwiiter
			%img.p-1{alt: "", height: "75", width: "75", src: "https://dthezntil550i.cloudfront.net/xy/latest/xy1812102338233560004340898/1280_960/8c292113-73c0-4881-a1bb-4fd8f3825e7a.png"} μTwiiter
		-if session[:user_id] != nil
			#navbarNav.collapse.navbar-collapse
				%ul.navbar-nav
					%li.nav-item.active
						%a.nav-link{href: "/feed"} Home
					%li.nav-item
						%a.nav-link{href: "/posts"} Posts
					%li.nav-item
						%a.nav-link{href: "/new_post"} Create New Post
					-#%li.nav-item
						-#%a.nav-link.disabled{href: "#"} Disabled
					%li.nav-item.dropdown
						%a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
							About User
						%ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
							%li
								%a.dropdown-item{href: users_path} Users
							%li
								%a.dropdown-item{href: edit_user_path(session[:user_id])} Edit Your Profile
			%form.d-flex{action: "/search", method: "get"}
				%input#fname.form-control.me-2{name: "name", type: "text"}
				%button.btn.btn-outline-success{type: "submit"} Search
			.p-2
				%a.navbar-brand{href: "/main"} Logout

-#===========end navbar=============