.modal.fade{role: "dialog", id: "like_modal"}
	.modal-dialog.modal-dialog-scrollable
		.modal-content
			.modal-header
				%h4.modal-title Users who liked this post
				%button.btn-close{"data-bs-dismiss" => "modal", type: "button"}
			.modal-body
				%table.table-borderless{class: "table"}
					%thread
						%tr
							%th= "User"
							%th
					%tbody#s1
						-#%tr#line
							-#%td#row
			.modal-footer
				%button.btn.btn-danger{"data-bs-dismiss" => "modal", type: "button"} Close